* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 19%, #fcb045 100%);
  font-family: Tahoma;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.results-box {
  display: block;
  padding: 15px 25px;
  border: solid;
  width: 300px;
  margin: 0 auto;
}

.result {
  margin-bottom: 0.5em;

  list-style-type: decimal;
  font-weight: bold;
}
